<!DOCTYPE html>
<html lang="en">

<%- include('layouts/header');-%>

<body>

  <!-- Navigation -->
  <%- include('layouts/navbar');-%>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('https://thumbs.dreamstime.com/b/header-personal-blog-made-textured-surface-three-dimensional-letters-92072270.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Welcome</h1>
            <span class="subheading"> Start Blogging</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <% for (var i = 0; i < blogposts.length; i++){ %>
          <div class="post-preview">
            <a href="/post/<%= blogposts[i]._id%>">
              <h2 class="post-title">
                <%= blogposts[i].title %>
              </h2>
            </a>
            <p class="post-meta"><Posted by>
              <a href="#"><%= blogposts[i].userid.username %></a>
              on <%= blogposts[i].datePosted.toDateString() %></p>
          </div>
          <hr>
        <%}%>
        <!-- Pager -->
        <div class="clearfix">
          <% if (!loggedIn) { %>
          <a class="btn btn-primary float-right" href="/auth/register">Sign up</a>
          <a class="btn btn-primary float-left" href="/auth/login">Login</a>
          <% } %>  
        </div>
      </div>
    </div>
  </div>

  <hr>

  <%- include('layouts/footer');-%>

  <%- include('layouts/scripts');-%>

</body>

</html>
